<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PatialaSchool.Org</title>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script>
    $(document).ready(function(){

$(window).scroll(function(){
x = $(window).scrollTop();

if (x>0){ 
$("#donatebutton").stop().animate({width:'4.5%'},500);
$("#donatebutton_text").html("&nbsp;&nbsp;&nbsp❤");
}

$("#donatebutton").mouseover(function(){
  $("#donatebutton").stop().animate({width:'15%'},500);
$("#donatebutton_text").html(" &nbsp;&nbsp;&nbsp;❤ Donate Now");

});
});});
</script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
    <style type="text/css">

      .ruke @import url(https://fonts.googleapis.com/css?family=Open+Sans);

.ruke h1:before{
  content: "// ";
}
.ruke h1{
  font-size:0.5em;
  color:#fefefe;
  text-transform:lowercase;
}
.ruke .wrapper{
  margin:1em 0;
}
.ruke a,.ruke a:visited,.ruke a:hover,.ruke a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:relative;
  transition:0.5s color ease;
  text-decoration:none;
  color:#81b3d2;
  font-size:1em;
}
.ruke a:hover{
  color:#78d5ef;
}
.ruke a.before:before,a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
a.before:before{
  top:-0.25em;
}
a.after:after{
  bottom:-0.25em;
}
a.before:before,a.after:after{
  height:5px;
  height:0.35rem;
  width:0;
  background:#78d5ef;
}
a.first:after{
  left:0;
}
a.second:after{
  right:0;
}
a.third:after,a.sixth:before,a.sixth:after{
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}
a.fourth:before,a.fourth:after{
  left:0;
}
a.fifth:before,a.fifth:after{
  right:0;
}
a.seventh:before{
  right:0;
}
a.seventh:after{
  left:0;
}
a.eigth:before{
  left:0;
}
a.eigth:after{
  right:0;
}
a.before:hover:before,a.after:hover:after{
  width:100%;
}

}
    </style>
  </head>
  <body ng-app="">
    
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html"><font style="color: black">Patiala school</font></a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	        	<li class="nav-item active"><a href="index.html" class="nav-link"><font style="color: black;">Home</font></a></li>
            <li class="nav-item"><a href="about.html" class="nav-link"><font style="color: black;">About</font></a></li>
            <li class="nav-item"><a href="gallery.html" class="nav-link"><font style="color: black;">Gallery</font></a></li>
            <li class="nav-item"><a href="download.html" class="nav-link"><font style="color: black;">Downloads</font></a></li>
            <li class="nav-item"><a href="donate.html" class="nav-link"><font style="color: black;">Donate</font></a></li>
            <li class="nav-item"><a href="index.html#contact" class="nav-link"><font style="color: black;">Contact</font></a></li>
            <li class="nav-item"><a  data-toggle="modal" href="#modal-login" class="nav-link"><font style="color: black;">Login</font></a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
    <div class="container" style="width: 100%; margin-top: 6%">
      <img style="margin-left: 0%;" src="images/plogo.jpg"><img style="margin-left: 45%;"src="images/plogo2.jpg">
    </div>
    <!-- login box -->
    <section>
        <div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="modal-login-label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content" style="background-color: #3a3a3a;color:#888">
              
              <div class="modal-header">
                <p style="color:orange">For administrative purposes only:</p>
                <button type="button" class="close" data-dismiss="modal" style="color: #fff">
                  <span aria-hidden="true" >&times;</span><span class="sr-only">Close</span>
                </button>
              </div>
              
                <div class="modal-body">
                    <form role="form" action="" method="post" class="login-form" ng-app="" name="myForm">
                        <div class="form-group">
                          <label class="sr-only" for="form-username"style="border-color: #399599">Email</label>
                            <input type="email" name="myaddress" ng-model="em" placeholder="Email..." class="form-username form-control" id="form-username" required style="border-radius: 8px; "><br>
                            <span style="color:orange"  ng-show="myForm.myaddress.$error.email"><i class="fa fa-remove"></i>Please Enter a valid email address..</span> 
                          </div>
                        <div class="form-group">
                            <label class="sr-only" for="form-password">Password</label>
                            <input style="border-radius: 8px;" type="password" name="userPassword" placeholder="Password..." class="form-password form-control" id="form-password" ng-model="n2" ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,20}$/"><br>
                            <div ng-messages="myForm.userPassword.$error">
              </div>
                  </div>
            </form>             
                </div>
                <center><button type="submit" class="btn btn-warning" style="border-radius: 5px;background-color: orange; margin-bottom: 8%; width: 30%;" onclick="login()">Login</button>
                </center>
              </div>
              
            </div>
          </div>
    </section>
    
    <section class="home-slider js-fullheight owl-carousel">
      <div class="slider-item js-fullheight" style="background-image:url(images/bg_1.jpg);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center">
            <div class="col-md-7 col-sm-12 text-center ftco-animate">
            	<h1 class="mb-3 mt-5 bread">Downloads</h1>
	            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Downloads</span></p>
            </div>
          </div>
        </div>
      </div>
    </section>

		<section class="ftco-section ftc-no-pb ruke">
			<div class="container">
				<div class="row no-gutters justify-content-center">
					<div class="col-md-10">
							<div class="col-md-7 wrap-about pb-md-5 ftco-animate">
			          <div class="heading-section mb-md-5 pl-md-5 heading-section-with-line">
			          	<div class="pr-md-5 mr-md-5">
				          	<span class="subheading">Download Links</span>        
			            </div>
			          </div>
			          <div class="pr-md-5 mr-md-5">
									<div class="wrapper">
                    <b>
                  <a class="sixth before after" href="#"><font style="color: orange;">Donnners- MRS HARINDER SHERGILL- CHARANPREET KAUR 3RD CLASS</font></a>
                  </div>
                  <div class="wrapper">
                  <a class="sixth before after" href="#"><font style="color: orange;">Donners- S GURBIR SINGH DHILLON- GARIMA AND MANU SAINI(two sisters)</font></a>
                  </div>
                  <div class="wrapper">
                  <a class="sixth before after" href="#"><font style="color: orange;">Donnners- S GURDIP SINGH JI- PUSHKAR SETHI 4TH CLASS</font></a>
                  </div>
                  <div class="wrapper">
                  <a class="sixth before after" href="#"><font style="color: orange;">SATRANGI FESTIVAL FOR SCHOOL</font></a>
                  </div>
                  <div class="wrapper">
                  <a class="sixth before after" href="#"><font style="color: orange;">SATRANGI FESTIVALS DOWNLOADS</font></a>
                  </div>
                  <div class="wrapper">
                  <a class="sixth before after" href="#"><font style="color: orange;">BLIND BENEFICIARIES</font></a>
                  </div>
                  <div class="wrapper">
                  <a class="sixth before after" href="#"><font style="color: orange;">DEAF BENEFICIARIES</font></a>
                  </div>
                  <div class="wrapper">
                  <a class="sixth before after" href="#"><font style="color: orange;">PROJECT DETAILS</font></a>
                  </div>
                  <div class="wrapper">
                  <a class="sixth before after" href="#"><font style="color: orange;">BENEFICIARIES</font></a>
                  </div>
                  <div class="wrapper">
                  <a class="sixth before after" href="#"><font style="color: orange;">BLIND DISABILITY CERTIFICATES</font></a>
                  </div>
                  <div class="wrapper">
                  <a class="sixth before after" href="#"><font style="color: orange;">DEAF DISABILITY CERTIFICATES</font></a>
                  </div>
                  <div class="wrapper">
                  <a class="sixth before after" href="#"><font style="color: orange;">ACTIVITY REPORT</font></a>
                  </div>
                  <div class="wrapper">
                  <a class="sixth before after" href="#"><font style="color: orange;">BALANCE SHEETS</font></a>
                  </div>
                  <div class="wrapper">
                  <a class="sixth before after" href="#"><font style="color: orange;">STAFF</font></a>
                  </div>
                  </b>	
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

<!--Donate button-->
    <a href="donate.html">
    <div id="donatebutton"  style="color: white;background-color: #78d5ef;position: fixed;bottom: 5%;right: 5%;border-radius: 40px;width:15%;height:8%;font-size: 150%" ><p style="margin: 0;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);" id="donatebutton_text"> &nbsp;&nbsp;&nbsp;❤ Donate Now</p></div></a>

    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">PatialaSchools</h2>
              <p>We make the children,<br>Service Providers,<br>not Service seekers</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                <li class="ftco-animate"><a href="https://twitter.com/patialadeafscho"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="https://www.facebook.com/SocietyForTheWelfareofHandicapped/"><span class="icon-facebook"></span></a></li>      
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Links</h2>
              <ul class="list-unstyled">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="download.html">Downloads</a></li>
                <li><a href="donate.html">Donate</a></li>
                <li><a href="index.html#contact">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon icon-map-marker"></span><span class="text">VILLAGE SAIFIDIPUR
                                                                                    BEHIND PUNJABI UNIVERSITY, PATIALA - 147001
                                                                                    PUNJAB, INDIA</span></li>
                  <li><a href="tel://+91 97800 43892"><span class="icon icon-phone"></span><span class="text">+91 97800 43892, +91 97800 43893</span></a></li>
                  <li><a href="mailto:info@patialaschool.com"><span class="icon icon-envelope"></span><span class="text">info@patialaschool.com</span></a></li>
                </ul>
              </div>
              <a href="donate.html">
          <div id="donatebutton"  style="color: white;background-color: #78d5ef;position: absolute;border-radius: 40px;width:50%;height:18%;font-size: 150%" ><p style="margin: 0;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);" id="donatebutton_text"> &nbsp;&nbsp;&nbsp;❤ Donate Now</p></div></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">   
          </div>
        </div>
      </div>
    </footer>
  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
  <script src="common.js"></script>
  <script src="commondirecting.js"></script>
    
  </body>
</html>
